In [4]:
import seaborn as sns
import pandas as pd
import numpy as np

##Cargando el dataset iris

In [5]:
iris = sns.load_dataset("iris")
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [6]:
iris.to_csv("iris.csv", index=False)

##Implementando la clase

In [7]:
class DataReader:
  def __init__(self,data):
    self.dataframe = pd.read_csv(data)
    self.size = len(self.dataframe)
    self.call = 0

  def return_data(self):
    self.call = self.call + 2
    if self.size+1 < self.call:
      raise Exception("Error, los datos se han agotado.")
    else:
      return  self.dataframe.iloc[self.call-2:self.call]

##Probando la clase

In [8]:
prueba = DataReader("iris.csv")

In [9]:
prueba.return_data()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [10]:
for i in range (0,int(len(iris)/2)):
  prueba.return_data()
  #Descomentando el "print" podemos verificar que el método se ejecuta hasta que los datos se acaban.
  #En este caso, 75 veces dado que el dataset tiene un tamño de 150 y los datos se muestran de 2 en 2.
  #print("El metodo return_data ha sido llamado {} veces.".format(i+2))
  #Se suma 2 dado que i comienza en 0 y ya habiamos llamado al método una vez.

Exception: Error, los datos se han agotado.